body {
    background: rgb(132, 132, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

main {
    padding: 2% 15%;
    display:flex ;
    align-items: center;
    justify-content: space-between; 
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

p {
    line-height: 1px;
}

.inclusao {

}

.listaprodutos {

}